* {
  margin: 0;;
  padding: 0;
  box-sizing: border-box;
}

.nav-link {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  color: #646cff;
  font-weight: 500;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* header */

.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em; 
  list-style: none;
  gap: 1rem;
}

.list li {
  display: inline-block;
  font-size: 1.5rem;
  color: #ffffff;
}

.list li a {
  color: #ffffff;
  text-decoration: none;
}

.list li a:hover {
  color: #646cff;
}

.list li a.active {
  color: #646cff;
}

/* stopwatch */
.timer_display {
  font-size: 48px;
  margin: 20px 0;
}

.controls button {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 18px;
  background-color: #646cff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.controls button:hover {
  background-color: #4b4bff;
}


/* timer */
.timer_inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.timer_inputs input {
  width: 120px;
  padding: 10px 0px;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid #646cff;
  border-radius: 5px;
}

.timer_inputs span {
  font-size: 1.3rem;
  font-weight: 600;
}

.timer_finished {
  font-size: 3rem;
  color: #ffff00;
  margin-top: 1rem;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}